name: Test Runner

on:
  push:
    branches:
      - main
    paths:
      - project/**

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      #install python
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Make the script files executable
        run: chmod +x project/tests.sh

      - name: Run Tests
        run: ./project/tests.sh
       
